<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtec.studyboot.customer.dao.CustomerDao">
    <resultMap id="CustomerResultMap" type="com.qtec.studyboot.customer.entity.Customer">
        <id property="id" column="id"/>
        <result property="cusName" column="cus_name"/>
        <result property="loginName" column="login_name"/>
        <result property="sex" column="sex"/>
        <result property="password" column="password"/>
        <result property="telPhone" column="tel_phone"/>
        <result property="address" column="address"/>
        <result property="regisDate" column="regis_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="updateName" column="update_name"/>
        <result property="level" column="level"/>
        <result property="accountType" column="accountType"/>
    </resultMap>
    <sql id="Customer_Base_Column">
        id,cus_name,login_name,password,sex,tel_phone,
        address,regis_date,update_date,update_name,
        level,accountType
    </sql>
    
    <select id="findByName" resultMap="CustomerResultMap" parameterType="String">
        SELECT 
        <include refid="Customer_Base_Column"/>
        FROM customer
        where login_name = #{loginName};
    </select>
    
    <select id="getCustomer" resultMap="CustomerResultMap">
        SELECT 
        <include refid="Customer_Base_Column"/>
        FROM customer
    </select>

    <!--?? customer需要时全限定类名吗 不需要：配置文件中已经配置 -->
    <insert id ="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="Customer">
      INSERT INTO customer
      <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cusName!=null">
              cus_name,
            </if>
          <if test="loginName!=null">
              login_name,
          </if>
          <if test="sex!=null">
              sex,
          </if>
          <if test="password!=null">
              password,
          </if>
          <if test="telPhone!=null">
              tel_phone,
          </if>
          <if test="address!=null">
              address,
          </if>
          <if test="regisDate!=null">
              regis_date,
          </if>
          <if test="updateDate!=null">
              update_date,
          </if>
          <if test="updateName!=null">
              update_name,
          </if>
          <if test="level!=null">
              level,
          </if>
          <if test="accountType!=null">
              accountType,
          </if>
      </trim>
        <trim prefix="value(" suffix=")" suffixOverrides=",">
            <if test="cusName!=null">
                #{cusName},
            </if>
            <if test="loginName!=null">
                #{loginName},
            </if>
            <if test="sex!=null">
                #{sex},
            </if>
            <if test="password!=null">
                #{password},
            </if>
            <if test="telPhone!=null">
                #{telPhone},
            </if>
            <if test="address!=null">
                #{address},
            </if>
            <if test="regisDate!=null">
                #{regisDate},
            </if>
            <if test="updateDate!=null">
                #{updateDate},
            </if>
            <if test="updateName!=null">
                #{updateName},
            </if>
            <if test="level!=null">
                #{level},
            </if>
            <if test="accountType!=null">
                #{accountType},
            </if>
      </trim>
    </insert>

    <!-- 批量添加用户 -->
    <insert id="batchInsert" parameterType="List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO customer(cus_name,login_name,password,sex,tel_phone,address,regis_date,update_date,update_name,level,accountType) VALUES
        <foreach collection="list" item="customer" separator=",">
            (
            #{customer.cusName},#{customer.loginName},#{customer.password},#{customer.sex},#{customer.telPhone},#{customer.address},
            #{customer.regisDate},#{customer.updateDate},#{customer.updateName},#{customer.level},#{customer.accountType}
            )
        </foreach>
    </insert>
</mapper>