<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>会员列表</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body class="container">
<br/>
<h1>会员列表</h1>
<br/><br/>
<div class="width:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>会员Id</th>
            <th>会员名称</th>
            <th>会员登录名</th>
            <th>地址</th>
            <th>等级</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer,cusStat:${customers}">
            <th scope="row" th:text="${cusStat.index +1}">1</th>
            <th th:text="${customer.cusName}">neo</th>
            <th th:text="${customer.loginName}">0tto</th>
            <th th:text="${customer.address}">6</th>
            <th th:text="${customer.level}">4</th>
            <th>
                <!--
                TODO将cusId放在路径中 根据id进行横向以及纵向鉴权
                -->
                <a th:href="@{/customer/updateCus/}+${customer.id}" href="/update">更新</a>|
                <!--
                使用ajax 测试ajax场景下权限不足的情形
                -->
                <a id="deleteOne" href="#" th:onclick="'javascript:delOne('+${customer.id}+');'">删除</a>
                <!--<a th:href="@{/customer/delete/}+${customer.id}" href="/update?cusId=">删除</a>-->
            </th>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-1.10.2.min.js}"/>
<script type="text/javascript">
    function delOne(obj) {
        $.ajax({
            url:'/customer/delete/'+obj,
            dataType:'json',
            success:function (data) {
                if (data.resCode == '0000' ){
                    alert("删除成功");
                }else if (data.resCode == '0001'){
                    alert("删除失败，没有权限");
                }else {
                    alert("删除失败，失败原因为："+data.resMessage);
                }
            }
        })
    }
</script>
</html>