<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>会员登录</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.10.2.min.js}"/>
</head>
<body>
    <div style="margin: 400px 700px">
        <span  type="text" th:text="${errorMsg}"/>
        <form method="post" th:action="@{/login}">
           <div>
               登录名：
               <input name="loginName" id="loginName" type="text" style="height: 30px"/>
           </div>
            <br/>
            <div>
                密 &nbsp;码：&nbsp;
                <input name="password" id="password" type="password" style="height: 30px"/>
            </div>
            <br/>
            <div>
                验证码：
                <input name="captchaCode" id="captchaCode" type="text" style="height: 30px"/>
            </div>
            <br/>
            <!-- 验证码-->
            <div style="height: 40px;width: 240px">
                 <img src="/captcha" style="height: 40px;width: 240px;" id="captcha"/>
            </div>
            <br/>
            <div style="margin-left: 50px">
                <input type="submit" id="bnt" value="登录" style="height: 40px;width: 150px"/>
            </div>
        </form>
    </div>
</body>

<script type="text/javascript">
    $('#captcha').click(function () {
           var timestamp = (new Date()).valueOf();
            $('#captcha').attr("src","/captcha?t="+timestamp);
    });
</script>
</html>