<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>会员注册</title>
    <link rel="stylesheet" th:href="@{/css/regist.css}"/>
    <script type="text/javascript" th:src="@{/js/regist.js}"></script>
    <script>
        /**
        /*
         */
    </script>
</head>
<body>
<div class="header">
    <div class="desc">欢迎注册 </div>
</div>
<div class="container">
    <div class="register">
        <form  th:action="@{/register}"  th:object="${cusForm}" method="post">
            <div class="register-box">
                <div class="box default">
                    <label for="loginName">用户名</label>
                    <input type="text" name="loginName" id="loginName" placeholder="您的登录名" />
                    <i></i>
                </div>
                <div class="tip">
                    <i></i>
                    <!--<span th:if="${#fields.hasErrors('loginName')}" th:errors="*{'loginName'}"></span>-->
                </div>
            </div>
        <div class="register-box">
            <div class="box default">
                <label for="password">设置密码</label>
                <input id="password" name="password" type="password" placeholder="至少两种字符组合"/>
                <i></i>
            </div>
            <div class="tip">
                <i></i>
                <span></span>
            </div>
        </div>
            <div class="register-box">
                <div class="box default">
                    <label for="password2">确认密码</label>
                    <input id="password2" type="password" placeholder="" />
                    <i></i>
                </div>
                <div class="tip">
                    <i></i>
                    <span></span>
                </div>
            </div>
            <div class="register-box">
                <div class="box default">
                    <label for="email">电子邮箱</label>
                    <input  id="email"  name="email" type="text" th:field="*{email}" />
                </div>
                <div class="tip">
                    <i></i>
                    <span></span>
                </div>
            </div>
            <div class="register-box">
                <div class="box default">
                    <label for="telPhone">手机号码</label>
                    <input id="telPhone" name="telPhone" type="text" th:field="*{telPhone}"/>
                </div>
                <div class="tip">
                    <i></i>
                    <span></span>
                </div>
            </div>
            <input type="submit" id="btn" value="注册"></input>
        </form>
    </div>
</div>

</body>
</html>